.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.card__image {
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: inherit;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
}

.card__fav-button {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.card__fav-button:hover {
  cursor: pointer;
}

.card-grid__arrow {
  position: absolute;
  top: 12vh;
  left: 30px;
  width: 30px;
  height: 30px;
}

.card-grid__arrow:hover {
  cursor: pointer;
}

/* Home */

.card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 200px;
  height: 350px;
}

.card {
  cursor: pointer;
}

/* Detail */

.card--detail {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 250px;
  height: 405px;
}

/* Favs */

.card--favs div {
  margin-top: 2rem;
}

/* Contact */

.contact-text {
  text-align: center;
}

.contact-text--success {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

.form {
  /* margin-top: 4rem; */
  border-radius: 15px;
  height: fit-content;
  width: 300px;
  padding: 2rem;
}

.form__fieldset {
  border: none;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container {
  position: relative;
}

.form__input {
  display: block;
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--light-gray);
  padding: 0.5rem;
}

.form__input:focus {
  outline: none;
}

.form__submit {
  display: block;
  margin: 2rem auto 0 auto;
  width: 60%;
  border-radius: 15px;
  padding: 0.5rem;
  border: 0.1px solid;
}

.form__submit:hover {
  cursor: pointer;
}

.form__label {
  text-align: left;
}

.form__legend {
  margin-bottom: 20px;
}

.form__error-message--input {
  color: red;
  font-size: 12px;
}

.form__error-message {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-weight: 700;
  color: red;
  font-size: 12px;
}

.form__input--error {
  border: 1px solid red;
}

.form__input--success {
  border: 1px solid var(--success-green);
}

.form__input-icon {
  position: absolute;
  top: 8px;
  right: 15px;
}

/* Main - Skeleton */

.skeleton-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.skeleton-card {
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 200px;
  height: 350px;
}

.skeleton-card__image {
  width: inherit;
  border-radius: 10px 10px 0 0;
  height: 200px;
}

.skeleton-card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
}

.skeleton-text__span {
  height: 20px;
  width: 90%;
  border-radius: 10px;
}

.skeleton-card__button {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  border-radius: 100%;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton-main);
  }
  100% {
    background-color: var(--skeleton-secondary);
  }
}

@media (min-width: 640px) {
  .card-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .skeleton-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  /*  Main */
  .main {
    min-height: 78vh;
    font-size: 1.1rem;
  }

  .card-grid {
    padding: 3rem 1rem;
    margin-top: 1rem;
  }

  .card-grid__arrow {
    position: absolute;
    top: 13vh;
    left: 30px;
    width: 40px;
    height: 40px;
  }

  .card {
    width: 220px;
    height: 380px;
  }

  .card__fav-button {
    width: 25px;
    height: 25px;
  }

  /* Skeleton */

  .skeleton-grid {
    padding: 0;
  }

  .skeleton-card {
    width: 220px;
    height: 380px;
  }

  /* Contact */

  .contact-container {
    margin: 0;
    margin-bottom: 2rem;
  }
  .contact-text {
    font-size: 1.2rem;
  }

  .contact-text__h2 {
    font-size: 2.3rem;
  }

  .form {
    font-size: 1.2rem;
    width: 400px;
  }

  .form__legend {
    font-size: 1.4rem;
  }

  .card-grid__empty-message {
    font-size: 1.4rem;
  }

  .form__error-message--input {
    font-size: 14px;
  }

  .form__error-message {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  /* Home */
  .card-grid {
    gap: 4rem;
    max-width: 1300px;
    margin: 2rem 0;
  }

  .skeleton-grid {
    max-width: 1300px;
    gap: 3rem;
    padding: 0;
  }

  .main {
    min-height: 78vh;
    font-size: 1.1rem;
  }

  .card-grid__arrow {
    position: absolute;
    top: 14vh;
    left: 30px;
    width: 45px;
    height: 45px;
  }

  /* Contact */

  .contact-container {
    margin: 0;
    margin-bottom: 2rem;
    gap: 1.3rem;
  }

  .contact-text {
    font-size: 1.1rem;
  }

  .contact-text__h2 {
    font-size: 2rem;
  }

  .form {
    font-size: 1.2rem;
    width: 400px;
  }

  .form__input {
    font-size: 1rem;
  }
}
