@import url('./Components/Header/Header.css');
@import url('./Components/Main/Main.css');
@import url('./Components/Footer/Footer.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-gray: #262b32;
  --dark-gray: #3a3e42;
  --light-gray: #f1f1f1;
  --very-light-gray: #fafafa;
  --skeleton-main: #c2cfd6;
  --skeleton-secondary: #f0f3f5;
  --success-green: #03c503;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

label:hover {
  cursor: pointer;
}

/* Theme */

.dark {
  background-color: var(--very-dark-gray);
  color: white;
}

.light {
  background-color: var(--light-gray);
}

.mainDark {
  background-color: var(--dark-gray);
  color: white;
}

.mainLight {
  background-color: var(--very-light-gray);
}
