* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-gray: #262b32;
  --dark-gray: #3a3e42;
  --light-gray: #f1f1f1;
  --very-light-gray: #fafafa;
  --skeleton-main: hsl(200, 20%, 80%);
  --skeleton-secondary: hsl(200, 20%, 95%);
  --success-green: #03c503;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover {
  color: rgb(136, 136, 136);
}

.hidden {
  display: none;
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

/* Header */

.app__header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  display: none;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__menu_modal {
  background-color: inherit;
  border-radius: 0 0 0 5px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: 150px;
  justify-content: space-between;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 10vh;
  width: 50%;
  z-index: 100;
}

.header__menu_modal__button {
  border: none;
  background-color: transparent;
}

/* * Main * */

.app__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.app__main__card_grid__card__image {
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: inherit;
}

.app__main__card_grid__card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
}

.app__main__card_grid__card__fav_button {
  border: none;
  background-color: transparent;
}

.app__main__card-grid__arrow {
  position: absolute;
  top: 12vh;
  left: 30px;
  width: 30px;
  height: 30px;
}

/* Home */

.app__home__card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
}

.app__home__card_grid__card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 200px;
  height: 350px;
}

/* Detail */

.app__detail__card_grid__card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 250px;
  height: 405px;
}

/* Favs */

.app__favs__card_grid__card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 10px;
  width: 200px;
  height: 350px;
}

.app__favs__card_grid__card div {
  margin-top: 2rem;
}

/* Contact */

.app__contact__text {
  text-align: center;
}

.app__contact__text_success {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.app__contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  gap: 2rem;
}

.app__contact__form {
  /* margin-top: 4rem; */
  border-radius: 15px;
  height: fit-content;
  width: 300px;
  padding: 2rem;
}

.app__contact__form__fieldset {
  border: none;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app__contact__form__input_container {
  position: relative;
}

.app__contact__form__input {
  display: block;
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--light-gray);
  padding: 0.5rem;
}

.app__contact__form__input:focus {
  outline: none
}

.app__contact__form__submit {
  display: block;
  margin: 2rem auto 0 auto;
  width: 60%;
  border-radius: 15px;
  padding: 0.5rem;
  border: 0.1px solid;
}

.app__contact__form__label {
  text-align: left;
}

.app__contact__form__legend {
  margin-bottom: 20px;
}

.app__contact__form__input_error_message {
  color: red;
  font-size: 12px;
}

.app__contact__form__error_message {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-weight: 700;
  color: red;
  font-size: 12px;
}

.app__contact__form__input_error {
  border: 1px solid red;
}

.app__contact__form__input_success {
  border: 1px solid var(--success-green);
}

.app__contact__form__input__icon {
  position: absolute;
  top: 8px;
  right: 15px;
}

/* Main - Skeleton */

.app__main__skeleton_card_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.app__main__skeleton_card_grid__card {
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 200px;
  height: 350px;
}

.app__main__skeleton_card_grid__card__image {
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 200px;
}

.app__main__skeleton_card_grid__card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
}

.app__main__skeleton_card_grid__card__text__span {
  height: 20px;
  width: 90%;
  border-radius: 10px;
}

.app__main__skeleton_card_grid__card__button {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  border-radius: 100%;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton-main);
  }
  100% {
    background-color: var(--skeleton-secondary);
  }
}

/* Footer */

.app__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-weight: 600;
}

/* footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
} */

/* footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
} */

/* form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
} */

/* .card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
} */
/* 
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

/* Theme */

.dark {
  background-color: var(--very-dark-gray);
  color: white;
}
.dark > a {
  color: white;
}

.light {
  background-color: var(--light-gray);
}

.mainDark {
  background-color: var(--dark-gray);
  color: white;
}

.mainLight {
  background-color: var(--very-light-gray);
}
